.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: linear-gradient(to left,gold,red,yellow)
}

.mycard{
  width: 230px;
  background-color: white;
  padding: 0px
}

.mycard img{
  border-bottom: 2px solid #4ec697;
  height: 299px;
  width: 230px;
}
div{
  /* border: 1px solid red */
}

.duration{
  position: absolute;
  left: 80%;
  top: 1%;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  text-align: center;
  background-color: grey;
  background-color: #51c697;
  color: antiquewhite;
  font-weight: 400;
  font-size: 12px;
  font-weight: bold
  
}
.genre{
  background-color: #f4f4f4;
  width: 70px;
  opacity: 80%;
  color: #999999;
  border: solid 1px #dfdfdf;
  font-size: 15px;
  text-align: center;

}
.judul{
  font-family: sans-serif;
  font-weight: bold;
  color: #333333;

}

.judul-container {
  height: 60px
}
.maker{
  font-family: sans-serif;
  font-size: 12.5px;
  color: #666666;
  font-weight: 300;
}